<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <menu>
        <add
                id="Cetechz_Blog::blog"
                sortOrder="0"
                module="Cetechz_Blog"
                resource="Cetechz_Blog::blog"
                title="Blog"
                translate="title"
        />
        <add
                id="Cetechz_Blog::settings"
                title="Settings"
                translate="title"
                module="Cetechz_Blog"
                sortOrder="0"
                parent="Cetechz_Blog::blog"
                resource="Cetechz_Blog::blog"/>
        <add
                id="Cetechz_Blog::configuration"
                sortOrder="1"
                module="Cetechz_Blog"
                resource="Cetechz_Blog::configuration"
                title="Configuration"
                parent="Cetechz_Blog::settings"
                action="blog/config/index"/>
    </menu>
</config>